<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <!--<ion-title [ngClass]="{'displayPageHeaderInToolbar': displayPageHeaderInToolbar}">{{seasonName | titlecase}}</ion-title>-->
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon slot="icon-only" name="notifications-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content [scrollEvents]="true" (ionScroll)="onScroll($event)">
  <div class="background-image">
    <h1 class="page-title" #pageHeader *ngIf="sensor">{{sensorName | titlecase}}</h1>
    <div class="section">
      <div class="card">
        <div class="temporal-resolution-list">
          <ion-button [ngClass] = "{'selected': scaleSelected == '1H'}" fill="clear" size="small" color="secondary" (click)="onChangeXScale(1)">1H</ion-button>
          <ion-button [ngClass] = "{'selected': scaleSelected == '6H'}" fill="clear" size="small" color="secondary" (click)="onChangeXScale(6)">6H</ion-button>
          <ion-button [ngClass] = "{'selected': scaleSelected == '1D'}" fill="clear" size="small" color="secondary" (click)="onChangeXScale(24)">1D</ion-button>
          <ion-button [ngClass] = "{'selected': scaleSelected == '30D'}" fill="clear" size="small" color="secondary" (click)="onChangeXScale(24*30)">30D</ion-button>
        </div>
        <canvas #lineChart></canvas>
      </div>
    </div>
    <div class="section">
      <div class="card info" *ngIf="sensor">
        <span>Updated At</span> <span>{{sensor.updatedAt | date:'MMM d y, h:mm a'}}</span>
        <span>Status</span> <span *ngIf="sensor.isWorking">WORKING</span>
      </div>
    </div>
  </div>
</ion-content>
