<ion-header>
  <ion-toolbar>
    <ion-title [ngClass]="{'displayPageHeaderInToolbar': displayPageHeaderInToolbar}">Dashboard</ion-title>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon slot="icon-only" name="notifications-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [scrollEvents]="true" (ionScroll)="onScroll($event)">
  <div class="background-image">
    <h1 class="page-title" #pageHeader>Dashboard</h1>
  
    <div class="section">
      <div class="card" id="strain">
        <div class="header">
          <h2>{{strain.name | titlecase}}</h2>
          <h3 id="strain-aka">aka {{strain.alias | titlecase}}</h3>
        </div>
        <div class="content">
          <p>{{strain.description}}</p>
          <div class="grid">
            <span>THC</span>            <span>{{strain.thc}} %</span>
            <span>Growing Period</span> <span>{{strain.growing_period_weeks}} weeks</span>
            <span>Yield</span>          <span>{{strain.yield}} g</span>
            <span>Type</span>           <span>{{strain.type}}</span>
          </div>
        </div>
        <div class="image-wrapper">
          <img [src]="strain.refImage" alt="">
        </div>
      </div>
    </div>
  
    <div class="section" id="buttons" *ngIf="deviceStatus">
      <div class="card button ion-activatable" (click)="onLightButtonClick()">
        <span>LED</span>
        <ion-icon name="light" [ngClass]="{'success': deviceStatus.actuators.LED.status == 'ON', 'error': deviceStatus.actuators.LED.status == 'OFF'}"></ion-icon>
        <span class="status">{{deviceStatus.actuators.LED.status | uppercase}}</span>
        <ion-ripple-effect></ion-ripple-effect>
      </div>
  
      <div class="card button ion-activatable" (click)="onVentilationButtonClick()">
        <span>VENTILATION</span>
        <ion-icon name="ventilation" [ngClass]="{'success': deviceStatus.actuators.ventilation.status == 'ON', 'error': deviceStatus.actuators.ventilation.status == 'OFF'}"></ion-icon>
        <span class="status">{{deviceStatus.actuators.ventilation.status | uppercase}}</span>
        <ion-ripple-effect></ion-ripple-effect>
      </div>
    </div>
  
    <div class="section">
      <div class="card button line ion-activatable" (click)="onDetailsClick()">
        <span>Details</span> <ion-icon name="navigate-next"></ion-icon>
        <ion-ripple-effect></ion-ripple-effect>
      </div>
    </div>
  
    <h3>Analytics</h3>
    <div class="section" id="analytics" *ngIf="deviceStatus">
      <div class="card">
        <ion-icon name="temperature"></ion-icon>
        <span class="value" [ngClass]="{'success': deviceStatus.temperature_status == 'ok', 'warning': deviceStatus.temperature_status == 'warning', 'error': deviceStatus.temperature_status == 'error'}">{{deviceStatus.sensors.env_temperature.value | number:'1.1-1'}}° C</span>
        <span class="title">Temperature</span>
      </div>
  
      <div class="card">
        <ion-icon name="ph"></ion-icon>
        <span class="value" [ngClass]="{'success': deviceStatus.ph_status == 'ok', 'warning': deviceStatus.ph_status == 'warning', 'error': deviceStatus.ph_status == 'error'}">{{deviceStatus.sensors.water_ph.value | number:'1.1-1'}}</span>
        <span class="title">pH</span>
      </div>
  
      <div class="card">
        <ion-icon name="water-level"></ion-icon>
        <span class="value success" *ngIf="deviceStatus.sensors.water_level.value == 1">OK</span>
        <span class="value error" *ngIf="deviceStatus.sensors.water_level.value == 0">LOW</span>
        <span class="title">Water Level</span>
      </div>
  
      <div class="card">
        <ion-icon name="humidity"></ion-icon>
        <span class="value" [ngClass]="{'success': deviceStatus.humidity_status == 'ok', 'warning': deviceStatus.humidity_status == 'warning', 'error': deviceStatus.humidity_status == 'error'}">{{deviceStatus.sensors.env_humidity.value | number:'1.1-1'}} %</span>
        <span class="title">Humidity</span>
      </div>
  
      <div class="card">
        <ion-icon name="water-temperature"></ion-icon>
        <span class="value" [ngClass]="{'success': deviceStatus.water_temp_status == 'ok', 'warning': deviceStatus.water_temp_status == 'warning', 'error': deviceStatus.water_temp_status == 'error'}">{{deviceStatus.sensors.water_temperature.value | number:'1.1-1'}}° C</span>
        <span class="title">Water Temp</span>
      </div>
  
      <div class="card">
        <ion-icon name="nutrients"></ion-icon>
        <span class="value">N/A</span>
        <span class="title">Nutrients</span>
      </div>
    </div>
  </div>
</ion-content>
