ion-icon {
    font-size: 40px;
}

ion-icon.not-working {
    font-size: 23px;
    margin: 10px 0;
}

div.card#strain {
    display: grid;
    grid-template-columns: 6fr 4fr;
    column-gap: 1em;
}

div.card#strain h3#strain-aka {
    color: var(--ion-grey-medium);
    font-size: 14px;
}

div.card#strain div.content {
    font-size: 12px;
}

div.card#strain div.content div.grid {
    display: grid;
    grid-template-columns: 2fr 1fr;
    row-gap: 0.5em;
}

div.card#strain div.image-wrapper {
    grid-row: 1 / span 2;
    grid-column: 2;
}

// Buttons
div.section#buttons div.card {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    column-gap: 1em;
    height: 12vh;
}

div.section#buttons div.card div.component{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    font-size: var(--ion-text-small);
}

div.section#buttons div.card div.component span {
    height: 15px;
}

div.section#buttons div.card div.component ion-button {
    border-radius: 100px;
    height: 33px;
    width: 33px;
}

div.section#buttons div.card div.component ion-icon{
    font-size: 20px;
}

// Analytics 
div.section#analytics {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 1em;
    row-gap: 1em;
}

div.section#analytics div.card {
    display: flex;
    flex-direction: column;
    align-items: center;
}

div.section#analytics div.card span.value {
    font-weight: bold;
    font-size: var(--ion-text-large);
    margin: 10px 0;
}

div.section#analytics div.card span.title {
    font-weight: bold;
    font-size: var(--ion-text-small);
}

// Extra
div#timestamp-wrapper {
    font-size: var(--ion-text-small);
    color: var(--ion-grey-light);
    display: flex;
    flex-direction: row-reverse;
}