[Unit]
Description=Afrodite Service
After=multi-user.target
#After=network-online.target
#Wants=network-online.target

[Service]
Type=simple # By default 'simple' is used, see also https://www.freedesktop.org/software/systemd/man/systemd.service.html#Type=
ExecStart=/home/pi/stond/pi/start.sh
ExecReload=/bin/kill -HUP $MAINPID
KillMode=process
Restart=on-failure
User=pi

[Install]
WantedBy=multi-user.target